target/
*.log
*.tmp
*.bak
*.swp
*.class

# Maven specific
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE specific
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace

# OS specific
.DS_Store
Thumbs.db
